:root {
    --psage: #a5b3ad;
    --pmgreen: #b4cfcd;
    --plgreen: rgb(211, 228, 225);
    --plrgreen2: rgba(211, 228, 225, 0.2);
    --pmblue: rgb(157, 199, 213);
    --pcta: #dc9584;
    --bcta: #c66549;
}
/* Usage: control: var(--varName); */
 body {
     margin: 0;
     padding: 0;
     background-image: url("mald_beach.jpg");
     background-color: var(--plgreen);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     min-height: 100dvh; /* check this */
     font-size: 24px;
     font-family: 'Poppins', sans-serif;
 }

 .bottomLayer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     -webkit-align-items: center;
     align-items: center;
 }

 /* header */
 header {
     width: 99dvw;
     display: flex;
     position: fixed; /* Set this to make sure burger menu will cover content */
     top: 0;
     z-index: 50;
     background-image: linear-gradient(to bottom right, var(--plgreen), var(--pmblue));
     box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
     border-radius: 0 0 40px 40px;
 }
 header ul {
     width: 100dvw;
     display: flex;
     flex-direction: row;
     list-style: none;
     justify-content: flex-end;
     align-items: center;
 }
 header li {
     height: 50px;
     cursor: pointer;
     /* both items below affect the :hover animation */
     transition: background-color 0.7s;
     border-radius: 15px;
 }
 header a {
     height: 100%;
     padding: 0 30px;
     text-decoration: none;
     display: flex;
     align-items: center;
     color: black;
 }
 header li:first-child {
     margin-right: auto;
     font-size: 6rem;
     font-family: "Island Moments", cursive;
     font-weight: 700;
 }
 .burger {
     position: fixed;
     top: 0;
     right: 0;
     height: 100vh;
     width: 250px;
     z-index: 999;  /* Set this to make sure burger menu will cover content */
     background-color: rgba(168, 196, 204, 0.2);
     backdrop-filter: blur(20px);
     box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
     display: none;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
 }
 .burger li {
     width: 100%;
     transition: background-color 0.5s;
 }
 .burger li:hover{
     background-color: var(--psage);
 }
 .burger a {
     width: 100%;
 }
 .noBurger li:hover{
     background-color: var(--psage);
 }

 /* Media queries */
  @media(max-width: 1023px) {
    .hideMobile {
        display: none;
    }
      section::before {
          content: '';
          margin-top: 5px;
      }
      main .introMessage {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px;
          align-content: space-between;
          font-size: 1rem;
      }
    body {
        background-attachment: scroll;
    }
    header {
        position: relative; /* Set this to make sure burger menu will cover content */
    }
    .info {
        flex-direction: column;
    }
    .boxes2 {
        flex-wrap: wrap;
    }
    .ibox1{
        flex-wrap: wrap;
    }
    .ibox2 {
        flex-wrap: wrap;
    }
  }
@media(min-width: 1024px) {
    .hideFull {
        display: none;
    }
    .welcomeMessage {
        display: flex;
    }
    section::before {
        content: '';
        margin-top: 100px;
    }
    main .introMessage {
        flex-direction: row;
        padding: 10px;
        align-content: space-between;
    }
}

/* Main section */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
section .welcomeMessage {
    position: relative;
    flex-direction: column;
    background-color: rgba(211, 228, 225, 0.3);
    height: 200px;
    width: max-content;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding-left: 100px;
    padding-right: 100px;
    backdrop-filter: blur(20px);
}
#mwp1 {
    font-size: 1.5rem;
    margin: 0;
}
#mwp2 {
    font-size: 100px;
    font-family: "Island Moments", cursive;
    font-weight: 700;
    margin: 0;
}
main {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .introMessage {
    width: 95%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(to bottom right, var(--pmblue), var(--plgreen));
    font-size: 1.5rem;
}
.ibox1 {
    margin-top: 120px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-image: linear-gradient(to bottom right, var(--pmblue), var(--plgreen));
    font-size: 1.5rem;
}
.ibox2 {
    margin-top: 120px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-image: linear-gradient(to bottom right, var(--pmblue), var(--plrgreen2));
    font-size: 1.5rem;
}
.ibox1 h2 {
    margin: 10px;
}
.ibox1 img {
    height: 25%;
    width: 25%;
    justify-content: flex-end;
    margin-left: auto;
    float: right;
}
main .introMessage p {
    margin-right: 25px;
    justify-content: left;
}
main .introMessage img {
    width: 400px;
    object-fit: contain;
}
main .info {
    display: flex;
    width: 100dvw;
    margin-top: 50px;
    padding: 10px;
}
.info  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
    height: auto;
    margin: auto;
    width: auto;
}
.card {
    transition: all 0.5s;
}
.card:hover {
    transform: scale(1.05);
}
.ctaButton {
    width: 400px;
    height: 75px;
    margin-top: 150px;
    margin-bottom: 100px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.5rem;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px var(--bcta);
    border-radius: 10px;
    background-color: var(--pmblue);
    background-image: linear-gradient(
            to top left,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2) 30%,
            rgba(0, 0, 0, 0)
    );
    box-shadow:
            inset 2px 2px 3px rgba(255, 255, 255, 0.6),
            inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
.ctaButton:hover {
    background-color: var(--bcta);
    color: var(--plgreen)
}
.ctaButton:active {
    box-shadow:
            inset -2px -2px 3px rgba(255, 255, 255, 0.6),
            inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.reqh2 {
    background-color: rgba(211, 228, 225, 0.3);
    backdrop-filter: blur(20px);
    padding: 20px;
}
.boxes2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-direction: row;
}
.boxes2 div {
    width: 80%;
    margin: 5px;
}
.boxrow {
    text-align: left;
    background-image: linear-gradient(to bottom right, var(--plrgreen2), var(--psage));
    color: black;
    font-size: 1.2em;
}
.boxrow h2 {
    color: black;
}
.boxes2 img {
    height: 25%;
    width: 25%;
    padding: 5px;
    float: left;
}
.boxrow ul {
    display: block;
    list-style-position: inside;
    text-align: left;
}

/* Contact Form */
.formC {
    display: flex;
    background-color: rgba(211, 228, 225, 0.3);
    backdrop-filter: blur(20px);
    padding: 20px;
    margin-bottom: 150px;
    justify-content: flex-start;
}
#contactfrm label {
    width: 250px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}
#contactfrm input[type=text], input[type=email], select {
    box-sizing: border-box;
    width: 200px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
}
#contactfrm textarea {
    box-sizing: border-box;
    width: 200px;
    height: 100px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
}
#contactfrm select {
    box-sizing: border-box;
    width: 200px;
    height: auto;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    resize: none;
    justify-content: center;
}
#contactfrm input[type=number] {
    box-sizing: border-box;
    width: 200px;
    height: auto;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
}
#contactfrm input[type=submit] {
    width: 200px;
    background-color: var(--pmblue);
    color: black;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 130px;
}
#contactfrm input[type=submit]:hover {
    background-color: var(--psage);
    color: black;
}

/* Footer */
footer::before {
    content: '';
    margin-top: 50px;
}
footer {
    display: flex;
    flex-direction: row;
    width: 99dvw;
    height: 50px;
    bottom: 0;
    margin-top: 20px;
    background-image: linear-gradient(to bottom right, var(--plgreen), var(--pmblue));
    box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 40px 40px 0 0;
    justify-content: space-between;
    align-items: center;
}
footer .copyright {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
footer .citation {
    justify-content: flex-end;
    margin-right: 100px;
    font-size: 1rem;
}